@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

html {
  height: 100%;         
  scroll-behavior: smooth;
}
body {
  margin: 0;                       
  overflow: hidden;

}

.container {
  margin: 0;                       
padding-top: -15px;
}

.maincontent {
  width: 100%;
  display: flex;
}

#sidebar-search {
  background-color: #4d4d4d;
  border-radius: 20px;
  width: 85%;
  height: 2.55%;
  margin-left: 7%;
  margin-bottom: 15px;
  border: 0;
  
}

#sidebar-search:focus {
  background-color: white;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

#wrapper {
  padding-left: 70px;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 250px;
  background: #1a1a1a;
  position: fixed;
  height: 100%;
  z-index: 10000;
}



.sidebar-nav {
  display: block;
  float: left;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#page-content-wrapper {
  padding-left: 100px;
  margin-left: 100px;
  width: 100%;
  height: auto;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
  background: #1a1a1a;

  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
line-height: 35px;
text-indent: 20px;
font-size: 13px;
font-weight: 500;

}

.sidebar-nav li a {
color: #cccccc;
display: block;
text-decoration: none;
}

.sidebar-nav li a:hover {
color: #fff;
background: rgba(64,64,64,0.7);
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 15px;
}

.sidebar-nav > .sidebar-brand a {
color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

#dropdown-item-button {
  background: transparent;
  padding: 0;
border: none;
background: none;

}

#user_icon_container
{
  float:left;
  color: white;
}

#add_note_container {
  float:left;
  color: #40a630;
  font-size: large;
}

#sidebar_new_note {
  padding-bottom: 60px;
}



.sub_icon
{
  float:left;
}
.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}


#sidebar_help {
  position: absolute;
  bottom: 0;
}



/* Note List View */

#notes-wrapper {
  padding-left: 70px;

}

#notes-containter {
  margin-left: 180px;
  left: 70px;
  width: 380px;
  background: #f8f8f8;
  border-right: 1.5px solid #e6e6e6;
  position: fixed;
  height: 100%;
  z-index: 10000;
  overflow-y: auto;    
  height: 100%;     
}

#note-list-titlebar-title {
 font-size: 25px;
 padding-left: 30px;
 padding-bottom: 15px;
 font-weight: 350;
 padding-top: 10px;
}

#notes-list-titlebar-count-text {
  font-size: 14px;
  padding-top: 20px;
  padding-left: 30px;
  font-weight: 350;
  color: #a7a7a7;
  padding-bottom: 15px;
  border-bottom: .5px solid #a7a7a7;
}

#note-list-note {
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 15px;
  border-bottom: .5px solid #a7a7a7;
}


 a {
  text-decoration:none !important;
}

#note-list-note-title {
  font-size: 15px;
  font-weight: 500;
}

#notes-list-note-body-text {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
} 

#notes-list-note-body-date {
  padding-top: 15px;
  color: #c4c4c4;
  font-size: 13px;

}

#all-notes-button {
  padding-bottom: 10px;
}

/* Current Note View */
#active-note-wrapper {
  padding-left: 70px;

}

#active-note-containter {
  margin-left: 560px;
  left: 70px;
  background: white;
  border-right: 1.5px solid #e6e6e6;
  position: fixed;
  height: 100%;
  z-index: 10000;
  overflow-y: auto;    
  height: 100%;     
  width: calc(100% - 630px) /* 20px being the first column's width */


}

.trash_trashIcon {
  transform: scale(1.5);

}

.notebook-identity {
  text-decoration: none;
  color: black;
  padding-top: 12px;
  padding-left: 10px;
  
  
} 

#active-note-titlebar-layertwo {
  border-bottom: 1.5px solid #e6e6e6;

}

#navbar-two-date {
  margin-top: 5px;
  padding-left: 10px;
  color: #999;
  font-size: 13px;
}


#notebook-dropdown {
  color: #999;
  background-color: #f8f8f8;
  font-size: 15px;
  text-decoration: none;
  margin-top: 9px;
  margin-left: 10px;
  border:none;
  outline:none;
}

#full-screen-button {
  color: #999;
  font-size: 15px;
}

#navbar-share-button {
  font-size: 13px;
}

#note-list-note-title {
  text-decoration: none;
  color: black;
}

#note-list-note-container:hover {
  text-decoration: none;
  background-color: yellow;
}

#current-note-datepicker {
  border:none;
  outline:none;
  background-color: #f8f8f8;
  color: #999;
  margin-left: 2px;

}

#navbar-two-date { 
  display: inline-block
}

#current-note-text-title,
#current-note-text-body {
  border:none;
  outline:none;
  margin-left: 20px;
  border:0; outline:none;
  box-shadow:none;
  -moz-appearance:none;

  -webkit-appearance:none;

}



*:focus {
  border:0; outline:none;
  box-shadow:none;
}

#current-note-text-title,
#current-note-text-body:active {
  border:none;
  outline:none;
}

#current-note-text-title {
  margin-top: 25px;
  font-weight: 600;
  font-size: 25px;
  font-family:  Courier, monospace;
}

#current-note-text-body {
  margin-top: -15px;
}

.notebooks-page-container {
  margin-left: 215px;
  left: 70px;
  background: white;
  position: fixed;
  height: 100%;
  z-index: 10000;
  overflow-y: auto;    
  height: 100%;     
  width: calc(100% - 315px) /* 20px being the first column's width */

}
.modal-content {
    z-index: 100000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#create-notebook-main_title {
  padding-top: 20px;
}



